.body {
    margin: 0px;
}

.dark_overlay {
    background-color: #0d0e11;
    opacity: 0.7;
    color:white;
    z-index: 10;
    position:absolute;
}

#player_login {
    text-align:center;
}

#sidebar_toggle {
    position:absolute;
    left:260px;
    z-index:10;
}

.sidebar {

}

#healthbar_container {
    position:absolute;
    background: #630000;
    margin:10px;
    left: 50%;
    transform: translate(-50%);
    width:20%;
}